<!DOCTYPE html>
<html>
  <head>
    <title>PEARL Lab Research</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="script" type="JavaScript" href="script.js">
  </head>
  <body>
    <!-- Header -->
    <header>
      <h1 style="text-align: center;">PEARL Lab</h1>
      <!-- Navigation -->
      <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li id="present"><a href="Work.html">Experience</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="hobbies.html">Hobbies</a></li>
            <li><a href="contacts.html">Contacts</a></li>
            <li><a href="connect4.html">Game</a></li>
            <li><button id="toggle-theme" style="color:white; background-color: #060627;">Dark Theme</button></li>
          </ul>
      </nav>
    </header>
    <section id="banner">Experience</section>
    <!-- Main Content -->
    <main>
      <!-- Education -->
      <section id="education">
        <div style="text-align: center; color: #0066ff;"><h1>Education</h1></div> 
        <div class="entry" style="display:flex">
            <img src="images/nmsu.png" style="max-width: 15%;max-height: auto;">
            <div style="padding-left: 3%;">
                <h2>New Mexico State Univeristy</h2>
                <h4>Las Cruces, NM, USA</h4>
                <p>PhD Computer Science</br>Spring 2023 - Ongoing</p>
            </div> 
        </div>
        <div class="entry" style="display:flex">
            <img src="images/kuet.png" style="max-width: 15%;">
            <div style="padding-left: 3%;">
                <h2>Khulna Univeristy of Engineering & Technology</h2>
                <h4>Khulna, Bangladesh</h4>
                <p>BSc Computer Science and Engineering</br>March 2016 - March 2020</p>
            </div> 
        </div>
      </section>
      <!-- Work -->
      <section id="work">
        <div style="text-align: center; color: #0066ff;"><h1>Work Experience</h1></div> 
        <div class="entry" style="display:flex">
            <img src="images/nmsu.png" style="width: 15%;">
            <div style="padding-left: 3%;">
                <h2>Graduate Teaching Assistant</h2>
                <h4>New Mexico State Univeristy</h4>
                <p>Spring 2023 - Ongoing</br>Las Cruces, NM, USA</p>
            </div> 
        </div>
        <div class="entry" style="display:flex">
            <img src="images/huawei.png" style="width: 15%;">
            <div style="padding-left: 3%;">
                <h2>Wireless Network Engineer</h2>
                <h4>Huawei Technologies</h4>
                <p>April 2020 - December 2022</br>Dhaka, Bangladesh</p>
            </div> 
        </div>
      </section>
    <!-- Footer -->
    <footer>
      <p>Copyright &copy; PEARL Lab 2023</p>
    </footer>
  </body>
</html>
<!-- js file linked -->
<script src="script.js"></script>